$main-color: #0C1013;
$white-color: white;
$second-color: #1A1C20;
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body {
    background-color: $main-color;
    color: $white-color;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}

.app-name {
    text-align: center;
}

.main-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.snackBar {
    text-align: center;
   
    width: 320px;
     margin: auto !important;
     
}

.err-snackBar {
    color: #ef5350 !important;
}

.succes-snackBar {
    color: forestgreen !important;
}

.closeMessageIcon {
    position: absolute;
    top: 1px;
    right: 4px;
}