.note-creation-holder {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-creationPost-trigger {
    cursor: pointer;
}

.title-textarea {
    height: 3em !important;
    min-height: 3em !important;
}

.error {
    color: red !important;
    text-align: center;
    font-weight: 600;
}

@media (max-width: 480px) {
    .modal-creationPost-trigger {
        position: fixed;
        bottom: 20px;
        z-index: 1;
    }
}

